<div class="container-fluid">
  <div class="row" id="top">
    <div class="col-sm-12	col-md-12	col-lg-12	col-xl-12 all-menu-options">
      <button mat-button (click)="scrollTo('popular')">Popular</button>
      <button mat-button (click)="scrollTo('starters')">Starters</button>
      <button mat-button (click)="scrollTo('mains')">Mains</button>
      <button mat-button (click)="scrollTo('sides')">Sides</button>
      <button mat-button (click)="scrollTo('soups')">Soups</button>
      <button mat-button (click)="scrollTo('setMeals')">Set Meals</button>
      <button mat-button (click)="scrollTo('sauces')">Sauces</button>
      <button mat-button (click)="scrollTo('deserts')">Deserts</button>
      <button mat-button (click)="scrollTo('drinks')">Drinks</button>
      <button mat-button (click)="scrollTo('alcohol')">Alcohol</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8	col-md-8	col-lg-8	col-xl-8 menu-items-container">
      <div class="menu-header">
        <h1>Menu</h1>
      </div>
      <div class="menu-sections">
        <section>
          <div class="section-title">
            <h3 id="popular">Popular</h3>
            <button mat-button (click)="scrollTo('top')">Back to the top</button>
            <div class="menu-items">
              <div class="single-item" *ngFor="let popular of this.menu.popular">
                <div class="card">
                  <div class="photo">
                    <img [src]="popular.imgUrl" alt="image of a set meal">
                  </div>
                  <div class="header">
                    <h3>{{popular.name}}</h3>
                    <i class="fas fa-leaf" *ngIf="popular.vegetarian"></i>
                    <div class="price">
                      <span>£ {{popular.price}}</span>
                    </div>
                  </div>
                  <div class="description">
                    <p>{{popular.description}}</p>
                  </div>
                  <div class="add-to-order">
                    <button mat-raised-button (click)="addItemToOrder(popular)">
                      Add To Order
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section>
          <div class="section-title">
            <h3 id="starters">Starters</h3>
            <button mat-button (click)="scrollTo('top')">Back to the top</button>
            <div class="menu-items">
              <div class="single-item" *ngFor="let starter of this.menu.starters">
                <div class="card">
                  <div class="photo">
                    <img [src]="starter.imgUrl" alt="image of a set meal">
                  </div>
                  <div class="header">
                    <h3>{{starter.name}}</h3>
                    <i class="fas fa-leaf" *ngIf="starter.vegetarian"></i>
                    <div class="price">
                      <span>£ {{starter.price}}</span>
                    </div>
                  </div>
                  <div class="description">
                    <p>{{starter.description}}</p>
                  </div>
                  <div class="add-to-order">
                    <button mat-raised-button (click)="addItemToOrder(starter)">
                      Add To Order
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section>
          <div class="section-title">
            <h3 id="mains">Mains</h3>
            <button mat-button (click)="scrollTo('top')">Back to the top</button>
            <div class="menu-items">
              <div class="chicken-dishes">
                <h4>Chicken Dishes</h4>
                <div class="single-item" *ngFor="let chicken of this.menu.mains.chicken_dishes">
                  <div class="card">
                    <div class="photo">
                      <img [src]="chicken.imgUrl" alt="image of a chicken meal">
                    </div>
                    <div class="header">
                      <h3>{{chicken.name}}</h3>
                      <i class="fas fa-leaf" *ngIf="chicken.vegetarian"></i>
                      <div class="price">
                        <span>£ {{chicken.price}}</span>
                      </div>
                    </div>
                    <div class="description">
                      <p>{{chicken.description}}</p>
                    </div>
                    <div class="add-to-order">
                      <button mat-raised-button (click)="addItemToOrder(chicken)">
                        Add To Order
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="thai-curries">
                <h4>Thai Curries</h4>
                <div class="single-item" *ngFor="let curry of this.menu.mains.thai_curries">
                  <div class="card">
                    <div class="photo">
                      <img [src]="curry.imgUrl" alt="image of a thai curry meal">
                    </div>
                    <div class="header">
                      <h3>{{curry.name}}</h3>
                      <i class="fas fa-leaf" *ngIf="curry.vegetarian"></i>
                      <div class="price">
                        <span>£ {{curry.price}}</span>
                      </div>
                    </div>
                    <div class="description">
                      <p>{{curry.description}}</p>
                    </div>
                    <div class="add-to-order">
                      <button mat-raised-button (click)="addItemToOrder(curry)">
                        Add To Order
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="noodle-dishes">
                <h4>Noodle Dishes</h4>
                <div class="single-item" *ngFor="let noodle of this.menu.mains.noodle_dishes">
                  <div class="card">
                    <div class="photo">
                      <img [src]="noodle.imgUrl" alt="image of a noodle meal">
                    </div>
                    <div class="header">
                      <h3>{{noodle.name}}</h3>
                      <i class="fas fa-leaf" *ngIf="noodle.vegetarian"></i>
                      <div class="price">
                        <span>£ {{noodle.price}}</span>
                      </div>
                    </div>
                    <div class="description">
                      <p>{{noodle.description}}</p>
                    </div>
                    <div class="add-to-order">
                      <button mat-raised-button (click)="addItemToOrder(noodle)">
                        Add To Order
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="rice_dishes">
                <h4>Rice Dishes</h4>
                <div class="single-item" *ngFor="let rice of this.menu.mains.rice_dishes">
                  <div class="card">
                    <div class="photo">
                      <img [src]="rice.imgUrl" alt="image of a rice meal">
                    </div>
                    <div class="header">
                      <h3>{{rice.name}}</h3>
                      <i class="fas fa-leaf" *ngIf="rice.vegetarian"></i>
                      <div class="price">
                        <span>£ {{rice.price}}</span>
                      </div>
                    </div>
                    <div class="description">
                      <p>{{rice.description}}</p>
                    </div>
                    <div class="add-to-order">
                      <button mat-raised-button (click)="addItemToOrder(rice)">
                        Add To Order
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="vegetable_dishes">
                <h4>Vegetable Dishes</h4>
                <div class="single-item" *ngFor="let veg of this.menu.mains.vegetable_dishes">
                  <div class="card">
                    <div class="photo">
                      <img [src]="veg.imgUrl" alt="image of a Vegetable meal">
                    </div>
                    <div class="header">
                      <h3>{{veg.name}}</h3>
                      <i class="fas fa-leaf" *ngIf="veg.vegetarian"></i>
                      <div class="price">
                        <span>£ {{veg.price}}</span>
                      </div>
                    </div>
                    <div class="description">
                      <p>{{veg.description}}</p>
                    </div>
                    <div class="add-to-order">
                      <button mat-raised-button (click)="addItemToOrder(veg)">
                        Add To Order
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section>
          <div class="section-title">
            <h3 id="sides">Sides</h3>
            <button mat-button (click)="scrollTo('top')">Back to the top</button>
            <div class="menu-items">
              <div class="single-item" *ngFor="let side of this.menu.sides">
                <div class="card">
                  <div class="photo">
                    <img [src]="side.imgUrl" alt="image of a set meal">
                  </div>
                  <div class="header">
                    <h3>{{side.name}}</h3>
                    <i class="fas fa-leaf" *ngIf="side.vegetarian"></i>
                    <div class="price">
                      <span>£ {{side.price}}</span>
                    </div>
                  </div>
                  <div class="description">
                    <p>{{side.description}}</p>
                  </div>
                  <div class="add-to-order">
                    <button mat-raised-button (click)="addItemToOrder(side)">
                      Add To Order
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section>
          <div class="section-title">
            <h3 id="soups">Soups</h3>
            <button mat-button (click)="scrollTo('top')">Back to the top</button>
            <div class="menu-items">
              <div class="single-item" *ngFor="let soup of this.menu.soups">
                <div class="card">
                  <div class="photo">
                    <img [src]="soup.imgUrl" alt="image of a soup">
                  </div>
                  <div class="header">
                    <h3>{{soup.name}}</h3>
                    <i class="fas fa-leaf" *ngIf="soup.vegetarian"></i>
                    <div class="price">
                      <span>£ {{soup.price}}</span>
                    </div>
                  </div>
                  <div class="description">
                    <p>{{soup.description}}</p>
                  </div>
                  <div class="add-to-order">
                    <button mat-raised-button (click)="addItemToOrder(soup)">
                      Add To Order
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section>
          <div class="section-title">
            <h3 id="setMeals">Set Meals</h3>
            <button mat-button (click)="scrollTo('top')">Back to the top</button>
            <div class="menu-items">
              <div class="single-item" *ngFor="let setMeal of this.menu.setMeals">
                <div class="card">
                  <div class="photo">
                    <img [src]="setMeal.imgUrl" alt="image of a set meal">
                  </div>
                  <div class="header">
                    <h3>{{setMeal.name}}</h3>
                    <i class="fas fa-leaf" *ngIf="setMeal.vegetarian"></i>
                    <div class="price">
                      <span>£ {{setMeal.price}}</span>
                    </div>
                  </div>
                  <div class="description">
                    <p>{{setMeal.description}}</p>
                  </div>
                  <div class="add-to-order">
                    <button mat-raised-button (click)="addItemToOrder(setMeal)">
                      Add To Order
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section>
          <div class="section-title">
            <h3 id="sauces">Sauces</h3>
            <button mat-button (click)="scrollTo('top')">Back to the top</button>
            <div class="menu-items">
              <div class="single-item" *ngFor="let sauce of this.menu.sauces">
                <div class="card">
                  <div class="photo">
                    <img [src]="sauce.imgUrl" alt="image of a sauce">
                  </div>
                  <div class="header">
                    <h3>{{sauce.name}}</h3>
                    <i class="fas fa-leaf" *ngIf="sauce.vegetarian"></i>
                    <div class="price">
                      <span>£ {{sauce.price}}</span>
                    </div>
                  </div>
                  <div class="description">
                    <p>{{sauce.description}}</p>
                  </div>
                  <div class="add-to-order">
                    <button mat-raised-button (click)="addItemToOrder(sauce)">
                      Add To Order
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section>
          <div class="section-title">
            <h3 id="deserts">Deserts</h3>
            <button mat-button (click)="scrollTo('top')">Back to the top</button>
            <div class="menu-items">
              <div class="single-item" *ngFor="let desert of this.menu.deserts">
                <div class="card">
                  <div class="photo">
                    <img [src]="desert.imgUrl" alt="image of a desert">
                  </div>
                  <div class="header">
                    <h3>{{desert.name}}</h3>
                    <i class="fas fa-leaf" *ngIf="desert.vegetarian"></i>
                    <div class="price">
                      <span>£ {{desert.price}}</span>
                    </div>
                  </div>
                  <div class="description">
                    <p>{{desert.description}}</p>
                  </div>
                  <div class="add-to-order">
                    <button mat-raised-button (click)="addItemToOrder(desert)">
                      Add To Order
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section>
          <div class="section-title">
            <h3 id="drinks">Drinks</h3>
            <button mat-button (click)="scrollTo('top')">Back to the top</button>
            <div class="menu-items">
              <div class="single-item" *ngFor="let drink of this.menu.drinks">
                <div class="card">
                  <div class="photo">
                    <img [src]="drink.imgUrl" alt="image of a drink">
                  </div>
                  <div class="header">
                    <h3>{{drink.name}}</h3>
                    <div class="price">
                      <span>£ {{drink.price}}</span>
                    </div>
                  </div>
                  <div class="description">
                    <p>{{drink.description}}</p>
                  </div>
                  <div class="add-to-order">
                    <button mat-raised-button (click)="addItemToOrder(drink)">
                      Add To Order
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section>
          <div class="section-title">
            <h3 id="alcohol">Alcohol</h3>
            <button mat-button (click)="scrollTo('top')">Back to the top</button>
            <div class="menu-items">
              <div class="single-item" *ngFor="let alcohol of this.menu.alcohol">
                <div class="card">
                  <div class="photo">
                    <img [src]="alcohol.imgUrl" alt="image of alcoholic drink">
                  </div>
                  <div class="header">
                    <h3>{{alcohol.name}}</h3>
                    <div class="price">
                      <span>£ {{alcohol.price}}</span>
                    </div>
                  </div>
                  <div class="description">
                    <p>{{alcohol.description}}</p>
                  </div>
                  <div class="add-to-order">
                    <button mat-raised-button (click)="addItemToOrder(alcohol)">
                      Add To Order
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="col-sm-4	col-md-4	col-lg-4	col-xl-4">
      <div class="fixed">
        <!-- <section>
          <div class="section-title">
            <h3>Current Order</h3>
            <div class="current-order">
              <div class="item" *ngFor="let item of this.selectedItems">
                {{item.name}}
                <button mat-button (click)="removeItemFromOrder(item)">Remove</button>
              </div>
            </div>
          </div>
        </section>
        <section>
          <div class="total-price">
            <h3>Total Price</h3>
            <div class="price-output">
              <h3>£ {{this.totalPrice}}</h3>
            </div>
          </div>
        </section> -->
          <div class="container">
            <div class="tab"></div>
            <div class="receipt">
              <div class="paper">
                <div class="title">Your Order</div>
                <div class="date">Date: {{currentDate | date:'dd-MM-yyyy'}}</div>
                <table>
                  <tbody>
                    <tr *ngFor="let item of this.selectedItems">
                      <td>{{item.name}}</td>
                      <td class="right">£{{item.price}}</td>
                      <td><button mat-button (click)="removeItemFromOrder(item)">Remove</button></td>
                    </tr>
                    <tr>
                      <td>Total Price:</td>
                      <td>£{{totalPrice}}</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="center">
                        <input type="button" value="Pay Now" />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div>
              </div>
        </div>
        </div>
      </div>
    </div>
