<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8	col-md-8	col-lg-8	col-xl-8 menu-items-container">
      <div class="menu-header">
        <h1>Menu</h1>
      </div>
      <div class="menu-sections">
        <section>
          <div class="section-title">
            <h3>Popular</h3>
            <div class="menu-items">

              <div class="card">
                <div class="photo">
                  <img src="http://cdn.pcwallart.com/images/pepperoni-pizza-little-caesars-wallpaper-1.jpg" alt="Pepperoni" />
                </div>
                <div class="header">
                  <h3>Pepperoni</h3>
                  <div class="price">
                    <span class="currency">R$</span>29
                    <small>.90</small>
                  </div>
                </div>
                <div class="description">
                  <p>(Mussarela ralada, salame italiano, champignon , pimentões, molho de tomate e orégano)</p>
                </div>
              </div>

            </div>
          </div>
        </section>
        <section>
          <div class="section-title">
            <h3>Starters</h3>
            <div class="menu-items"></div>
          </div>
        </section>
        <section>
          <div class="section-title">
            <h3>Mains</h3>
            <div class="menu-items"></div>
          </div>
        </section>
        <section>
          <div class="section-title">
            <h3>Sides</h3>
            <div class="menu-items"></div>
          </div>
        </section>
        <section>
          <div class="section-title">
            <h3>Soups</h3>
            <div class="menu-items"></div>
          </div>
        </section>
        <section>
          <div class="section-title">
            <h3>Set Meals</h3>
            <div class="menu-items"></div>
          </div>
        </section>
        <section>
          <div class="section-title">
            <h3>Sauces</h3>
            <div class="menu-items"></div>
          </div>
        </section>
        <section>
          <div class="section-title">
            <h3>Deserts</h3>
            <div class="menu-items"></div>
          </div>
        </section>
        <section>
          <div class="section-title">
            <h3>Drinks</h3>
            <div class="menu-items"></div>
          </div>
        </section>
        <section>
          <div class="section-title">
            <h3>Alcohol</h3>
            <div class="menu-items">
              <div class="single-item" *ngFor="let alcohol of this.menu.alcohol">
                <div class="card">
                  <div class="photo">
                    <img [src]="alcohol.imgUrl" alt="image of alcoholic drink">
                  </div>
                  <div class="header">
                    <h3>{{alcohol.name}}</h3>
                    <div class="price">
                      <span class="currency">£ {{alcohol.price}}</span>
                    </div>
                  </div>
                  <div class="description">
                    <p>{{alcohol.description}}</p>
                  </div>
                  <div class="add-to-order">
                    <button mat-raised-button>
                      Add To Order
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="col-sm-4	col-md-4	col-lg-4	col-xl-4">
      <section>
        <div class="section-title">
          <h3>Current Order</h3>
          <div class="current-order"></div>
        </div>
      </section>
      <section>
        <div class="total-price">
          <h3>Total Price</h3>
          <div class="price-output">
            <h3></h3>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
