<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12	col-md-12	col-lg-12	col-xl-12">
      <div class="about-holder">
        <div class="about-us-text">
          <h3 class="about-us-title">Welcome to Lemongrass</h3>
          <p class="about-us-description">At Lemongrass Restaurant, the emphasis is on simplicity and freshness, with contrasting flavours and textures.
            South East Asian eating is usually a family get together, where meals are a shared occasion, so it is suggested
            that you each choose a dish, include some fresh vegetables such as delicious asparagus or pak choi, and of course
            rice; and delight in trying several different tastes and textures, exquisite sauces, and unusual fresh flavours.
            You can start as soon as the first dish arrives at your table, and the others will follow. Each dish is individually
            cooked to perfection, so please do remember that they will not arrive at the same time.</p>
        </div>
        <div class="map-open-contianer">
          <div class="opening-hours-container col-sm-12">
            <h3>Opening Hours</h3>
            <ul *ngFor="let i of this.openingHours">
              <li>{{i.day}} - {{i.hours}}</li>
            </ul>
          </div>
          <div class="location-map-continer col-sm-12">
            <h3>Where are we?</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4695.181491408995!2d-0.14166542575383398!3d51.54172693536455!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb899172b60fb4f77!2sLemongrass+Restaurant!5e0!3m2!1sen!2sil!4v1533654600141"
              width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="spinner-container" *ngIf="this.dataService.loading">
    <app-loader class="spinner-icon"></app-loader>
  </div>
  <div class="row">
    <div class="col-sm-12	col-md-12	col-lg-12	col-xl-12">
      <app-menu id="menuContainer"></app-menu>
    </div>
  </div>
</div>
