// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
// Font Variables
$roboto-slab: 'Roboto Slab',
serif;
$open-sans: 'Open Sans',
sans-serif;
.about-holder {
  display: flex;
  flex-direction: column;
}

.about-us-text {
  width: 50%;
  align-self: center;
}

.about-us-title {
  font-family: $roboto-slab;
}

.about-us-description {
  font-family: $open-sans;
  font-size: 17px;
  letter-spacing: 0.5px;
}

.map-open-contianer {
  align-self: center;
  width: 85%;
  display: -webkit-inline-box;
}

.location-map-continer {
  width: 50%;
}

.opening-hours-container {
  width: 50%;
}

.spinner-container {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  overflow: scroll;
}

.spinner-icon {
  position: absolute;
  z-index: 10;
  margin-left: 45%;
  margin-top: 20%;
}
