<div class="container">
  <div class="row">
    <div class="twelve columns">
      Twelve
      This will show the landing image and an order now button with will show the next div
    </div>
  </div>
  <div class="row">
    <div class="two-thirds column">
      2/3
      This is where the menu will be show and is scrollable
      <div class="menu-header">
        <h1>Menu</h1>
      </div>
      <div class="menu-sections">
        <section>
          <div class="section-title">
            <h3>Popular</h3>
            <div class="menu-items"></div>
          </div>
        </section>
        <section>
          <div class="section-title">
            <h3>Starters</h3>
            <div class="menu-items"></div>
          </div>
        </section>
        <section>
          <div class="section-title">
            <h3>Mains</h3>
            <div class="menu-items"></div>
          </div>
        </section>
        <section>
          <div class="section-title">
            <h3>Sides</h3>
            <div class="menu-items"></div>
          </div>
        </section>
        <section>
          <div class="section-title">
            <h3>Soups</h3>
            <div class="menu-items"></div>
          </div>
        </section>
        <section>
          <div class="section-title">
            <h3>Set Meals</h3>
            <div class="menu-items"></div>
          </div>
        </section>
        <section>
          <div class="section-title">
            <h3>Sauces</h3>
            <div class="menu-items"></div>
          </div>
        </section>
        <section>
          <div class="section-title">
            <h3>Deserts</h3>
            <div class="menu-items"></div>
          </div>
        </section>
        <section>
          <div class="section-title">
            <h3>Drinks</h3>
            <div class="menu-items"></div>
          </div>
        </section>
        <section>
          <div class="section-title">
            <h3>Alcohol</h3>
            <div class="menu-items"></div>
          </div>
        </section>
      </div>
    </div>
    <div class="one-third column">
      1/3
      This is where the current order will be shown
      <section>
        <div class="section-title">
          <h3>Current Order</h3>
          <div class="current-order"></div>
        </div>
      </section>
      <section>
        <div class="total-price">
          <h3>Total Price</h3>
          <div class="price-output">
            <h3></h3>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
