<app-header></app-header>
<div class="login">
  <h2 class="login-header">Register</h2>
  <form class="login-container">
    <p>
      <input type="text" placeholder="Name" required [(ngModel)]="dataService.User.name" [ngModelOptions]="{standalone: true}">
    </p>
    <p>
      <input type="email" placeholder="Email" required [(ngModel)]="dataService.User.email" [ngModelOptions]="{standalone: true}">
    </p>
    <p>
      <input type="password" placeholder="Password" required [(ngModel)]="dataService.User.password" [ngModelOptions]="{standalone: true}">
      <label>Your password needs to be 6 or more characters.</label>
    </p>
    <p>
      <input type="submit" value="Register" (click)="registerUser()">
    </p>
  </form>
  <p class="link-to-register">Already have an account?
    <span (click)="goToLogin()"> Login Here.</span>
  </p>
</div>




