<app-header></app-header>

<div class="login-page">
  <div class="form">
    <form class="login-form">
      <input type="email" placeholder="email" autofocus [(ngModel)]="dataService.User.email" [ngModelOptions]="{standalone: true}"/>
      <input type="password" placeholder="password" required [(ngModel)]="dataService.User.password" [ngModelOptions]="{standalone: true}" />
      <input type="text" placeholder="name" [(ngModel)]="dataService.User.name" [ngModelOptions]="{standalone: true}"/>
      <input type="text" placeholder="phone number" [(ngModel)]="dataService.User.phoneNumber" [ngModelOptions]="{standalone: true}"/>
      <input type="text" placeholder="house number" [(ngModel)]="dataService.User.houseNumber" [ngModelOptions]="{standalone: true}"/>
      <input type="text" placeholder="street" [(ngModel)]="dataService.User.street" [ngModelOptions]="{standalone: true}"/>
      <input type="text" placeholder="post code" [(ngModel)]="dataService.User.postCode" [ngModelOptions]="{standalone: true}"/>
      <button (click)="registerUser()">create</button>
      <p class="message">Already registered?
        <a (click)="goToLogin()">Sign In</a>
      </p>
    </form>
  </div>
</div>
