/* You can add global styles to this file, and also import other style files */

// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway);

// Font Variables
$open-sans: 'Open Sans', sans-serif;
$raleway: 'Raleway', sans-serif;

$color1: rgba(124, 193, 88, 1);
$color2: rgba(236, 254, 170, 1);
$color3: rgba(226, 222, 132, 1);
$color4: rgba(134, 131, 109, 1);
$color5: rgba(98, 98, 103, 1);
